<!DOCTYPE html>
<html lang="en">

    <%- include('includes/head.ejs') %>

<header>       
    <h1> Personas por la Ética en el Trato de los Zombis (PETZ) </h1>
    <%- include('includes/navbar.ejs') %>
</header>
<body>

    <% if (lista_zombies.length > 0) { %>
        <ul>
            <% for (let zombie of lista_zombies) { %>
                <li><%= zombie.znombre %></li>
                <li><%= zombie.zestado %></li>
            <% } %>
        </ul>
    <% } else { %>
        <h1>El arreglo está vacío</h1>
    <% } %>   


    <%- include('includes/footer.ejs') %>
</body>
</html>